<div class="container mx-auto mt-6 h-[70vh]">
    <div class="flex items-center text-center">
        <h3 class="mx-auto py-5 text-xl font-bold dark:text-white">Featured
            <mark class="p-2 text-white bg-red-800 rounded dark:bg-blue-500">Products</mark>
           
        </h3>
    </div>
</div>
<div class="container md:flex mx-auto my-4">
    <div class="max-w-sm mx-auto bg-white dark:bg-gray-800" >
        <div id="featured-cart1" class="w-full max-w-sm bg-white rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <a href="#">
                <img class="p-0" src="https://ivesexid.sirv.com/redline/home/alexandra-gorn-JIUjvqe2ZHg-unsplash.jpg" alt="product image" />
            </a>
            <div class="">
                <a href="#">
                    <h5 class="text-xl font-light tracking-tight text-gray-900 dark:text-white">Apple Watch Series 7 GPS, Aluminium Case, Starlight Sport</h5>
                </a>
                <div class="flex items-center justify-between p-8">
                    <span class="text-3xl font-bold text-gray-900 dark:text-white">$599</span>
                    <a href="#" class="md:hidden text-red-800 hover:text-red-500 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 animate__animated animate__fadeInUp animate__faster" id="addtocart1">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                          </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="max-w-sm mx-auto bg-white dark:bg-gray-800" >
        <div id="featured-cart2" class="w-full max-w-sm bg-white rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <a href="#">
                <img class="p-0" src="https://ivesexid.sirv.com/redline/home/alexandra-gorn-JIUjvqe2ZHg-unsplash.jpg" alt="product image" />
            </a>
            <div class="">
                <a href="#">
                    <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">Apple Watch Series 7 GPS, Aluminium Case, Starlight Sport</h5>
                </a>
                <div class="flex items-center justify-between">
                    <span class="text-3xl font-bold text-gray-900 dark:text-white">$599</span>
                    <a href="#" class="md:hidden text-red-800 hover:text-red-500 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 animate__animated animate__fadeInUp animate__faster" id="addtocart2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                          </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="max-w-sm mx-auto bg-white dark:bg-gray-800" >
        <div id="featured-cart3" class="w-full max-w-sm bg-white rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <a href="#">
                <img class="p-0" src="https://ivesexid.sirv.com/redline/home/alexandra-gorn-JIUjvqe2ZHg-unsplash.jpg" alt="product image" />
            </a>
            <div class="">
                <a href="#">
                    <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">Apple Watch Series 7 GPS, Aluminium Case, Starlight Sport</h5>
                </a>
                <div class="flex items-center justify-between">
                    <span class="text-3xl font-bold text-gray-900 dark:text-white">$599</span>
                    <a href="#" class="md:hidden text-red-800 hover:text-red-500 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 animate__animated animate__fadeInRight animate__faster" id="addtocart3">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                          </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>

<script>

    const itemdiv1 = document.getElementById('featured-cart1');
    const cartitem1 = document.getElementById('addtocart1')

    itemdiv1.addEventListener('mouseenter', () => {
        cartitem1.classList.remove('md:hidden');
    })

    itemdiv1.addEventListener('mouseleave', () => {
        cartitem1.classList.add('md:hidden');
    })

    const itemdiv2 = document.getElementById('featured-cart2');
    const cartitem2 = document.getElementById('addtocart2')

    itemdiv2.addEventListener('mouseenter', () => {
        cartitem2.classList.remove('md:hidden');
    })

    itemdiv2.addEventListener('mouseleave', () => {
        cartitem2.classList.add('md:hidden');
    })

    const itemdiv3 = document.getElementById('featured-cart3');
    const cartitem3 = document.getElementById('addtocart3')

    itemdiv3.addEventListener('mouseenter', () => {
        cartitem3.classList.remove('md:hidden');
    })

    itemdiv3.addEventListener('mouseleave', () => {
        cartitem3.classList.add('md:hidden');
    })

</script>