<div class="container mx-auto mt-6">
    <div class="flex items-center text-center">
        <h3 class="mx-auto py-5 text-xl font-bold dark:text-white">Featured
            <mark class="p-2 text-white bg-red-800 rounded dark:bg-blue-500">Products</mark>
           
        </h3>
    </div>
</div>
<div class="container md:flex mx-auto my-4">
    
    <div class="max-w-sm mx-auto bg-white dark:bg-gray-800" id="featured-cart1">
        <a href="#">
            <img class="p-5 rounded-t-lg" src="https://ivesexid.sirv.com/redline/home/alexandra-gorn-JIUjvqe2ZHg-unsplash.jpg"  alt="product image" />
        </a>
        <div class="px-5 pb-5">
            <a href="#">
                <h5 class="text-l font-light tracking-tight text-gray-900 dark:text-white">Apple Watch Series 7 GPS, Aluminium Case, Starlight Sport</h5>
            </a>
            <div class="flex items-center justify-between my-3">
                <span class="text-l font-medium text-gray-900 dark:text-white">$599</span>
                <a href="#" class="md:hidden text-red-800 focus:ring-4 hover:block focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:hover:bg-blue-700 dark:focus:ring-blue-800 animate__animated animate__fadeInUp animate__faster" id="addtocart1">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="max-w-sm mx-auto bg-white dark:bg-gray-800" id="featured-cart2">
        <a href="#">
            <img class="p-5 rounded-t-lg" src="https://ivesexid.sirv.com/redline/home/alexandra-gorn-JIUjvqe2ZHg-unsplash.jpg"  alt="product image" />
        </a>
        <div class="px-5 pb-5">
            <a href="#">
                <h5 class="text-l font-light tracking-tight text-gray-900 dark:text-white">Apple Watch Series 7 GPS, Aluminium Case, Starlight Sport</h5>
            </a>
            <div class="flex items-center justify-between my-3">
                <span class="text-l font-medium text-gray-900 dark:text-white">$599</span>
                <a href="#" class="md:hidden text-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:hover:bg-blue-700 dark:focus:ring-blue-800 animate__animated animate__fadeInUp animate__faster" id="addtocart2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="max-w-sm mx-auto bg-white dark:bg-gray-800" id="featured-cart3">
        <a href="#">
            <img class="p-5 rounded-t-lg" src="https://ivesexid.sirv.com/redline/home/alexandra-gorn-JIUjvqe2ZHg-unsplash.jpg"  alt="product image" />
        </a>
        <div class="px-5 pb-5">
            <a href="#">
                <h5 class="text-l font-light tracking-tight text-gray-900 dark:text-white">Apple Watch Series 7 GPS, Aluminium Case, Starlight Sport</h5>
            </a>
            <div class="flex items-center justify-between my-3">
                <span class="text-l font-medium text-gray-900 dark:text-white">$599</span>
                <a href="#" class="md:hidden text-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:hover:bg-blue-700 dark:focus:ring-blue-800 animate__animated animate__fadeInUp animate__faster" id="addtocart3">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                    </svg>
                </a>
            </div>
        </div>
    </div>

</div>

<script>

    const itemdiv1 = document.getElementById('featured-cart1');
    const cartitem1 = document.getElementById('addtocart1')

    itemdiv1.addEventListener('mouseenter', () => {
        cartitem1.classList.remove('md:hidden');
    })

    itemdiv1.addEventListener('mouseleave', () => {
        cartitem1.classList.add('md:hidden');
    })

    const itemdiv2 = document.getElementById('featured-cart2');
    const cartitem2 = document.getElementById('addtocart2')

    itemdiv2.addEventListener('mouseenter', () => {
        cartitem2.classList.remove('md:hidden');
    })

    itemdiv2.addEventListener('mouseleave', () => {
        cartitem2.classList.add('md:hidden');
    })

    const itemdiv3 = document.getElementById('featured-cart3');
    const cartitem3 = document.getElementById('addtocart3')

    itemdiv3.addEventListener('mouseenter', () => {
        cartitem3.classList.remove('md:hidden');
    })

    itemdiv3.addEventListener('mouseleave', () => {
        cartitem3.classList.add('md:hidden');
    })

</script>